BOT_TOKEN=8790397267:AAG9-mgu2R0Ly1NpMQNsmFPp42cWboGtLS8
BOT_USERNAME=StellarGarantBot
SUPPORT_USERNAME=StellarOTCSupport
OWNER_ID=6930148555
START_IMAGE_URL=
BANNER_PATH=banner.jpg
DB_PATH=bot.db
PROXY_URL=
